body{
	background-image:url(foto_1.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;
}

#mother{
	height: 320px;
	width: 320px;
	border: 1px solid black;
	float: center;
	margin-top: 150px;
	margin-left: 500px;
}

form{
	margin-top: 0px;
	margin-right: 65px;
	float: right;
	font-size: 20px;
	color: orange;
	
}

.logo{
	text-align: center;
	font-size: 30px;
}

#cadastro{
	font-size: 30px;
	margin-top: 10px;
	color: #349DD1
}
